# Variables d'environnement
DB_HOST=localhost
DB_USER=VMS-admin
DB_PASSWORD=WjcJHW8A8zXEBBKs
DB_NAME=vms
JWT_SECRET=2e6b8c4e3a7f4d9b8e2c1a6f7b5d3c8e9f0a1b2c3d4e5f6a7b8c9d0e1f2a3b4
AWS_ACCESS_KEY_ID=AKIAW3NR5YPPZ3HAPHNH
AWS_SECRET_ACCESS_KEY=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
AWS_S3_BUCKET=lldvovo
AWS_REGION=ap-southeast-1
SEED_USERNAME=superadmin   
SEED_MAIL=agent@admin.com
SEED_PASSWORD=K9mN7pQ2xR5
API_VERSION=v1
# Sites acceptés pour CORS (séparés par des virgules, ou 'all' pour tout accepter)
CORS_ORIGIN=*
# Configuration du serveur
HOST=0.0.0.0
PORT=3000
#Server Externe
EXTERNAL_SERVER_URL=http://192.168.1.84:1999/api/movie/vod_data_receive
